.product-preview-card {
  background-color: hsl(0, 0%, 100%);
  width: min(21.875rem, 100%);
  border-radius: 0.5rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}
.product-preview-card .image {
  display: block;
  width: 100%;
  height: auto;
}
.product-preview-card .image img {
  width: 100%;
  height: auto;
  border-start-start-radius: 0.5rem;
  border-start-end-radius: 0.5rem;
}
.product-preview-card .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  width: 100%;
}
.product-preview-card .category {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: 0.3125rem;
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;
}
.product-preview-card .name {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0px;
  color: hsl(212, 21%, 14%);
}
.product-preview-card .description {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: 0px;
  color: hsl(228, 12%, 48%);
}
.product-preview-card .price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.product-preview-card .sale-price {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: 0px;
  color: hsl(158, 36%, 37%);
}
.product-preview-card .regular-price {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8125rem;
  line-height: 120%;
  letter-spacing: 0px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}
.product-preview-card .add-to-cart-button {
  background-color: hsl(158, 36%, 37%);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  transition: all 300ms;
  padding-inline: 2rem;
  padding-block: 1rem;
  border: 0;
  border-radius: 0.5rem;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 110%;
  letter-spacing: 0px;
  color: hsl(0, 0%, 100%);
}
.product-preview-card .add-to-cart-button:hover {
  background-color: hsl(158, 42%, 18%);
  cursor: pointer;
}
.product-preview-card .add-to-cart-button img {
  width: auto;
  height: 1rem;
}

@media (min-width: 48rem) {
  .product-preview-card {
    display: flex;
    flex-direction: row;
    width: min(37.5rem, 100%);
  }
  .product-preview-card .image {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
  }
  .product-preview-card .image img {
    height: 100%;
    border-start-start-radius: 0.5rem;
    border-end-start-radius: 0.5rem;
    border-start-end-radius: 0;
  }
  .product-preview-card .content {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    gap: 2rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: hsl(30, 38%, 92%);
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 160%;
  letter-spacing: 0px;
  font-size: 0.6875rem;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=main.css.map */
