@use "presets";
@use "product-review-card";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: presets.$cream;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    @include presets.text-preset-3;
    font-size: 0.6875rem; //11px;
    text-align: center;

    a {
        color: hsl(228, 45%, 44%);
    }
}